#choose between native compiled and jvm runtime version commenting/uncommenting those env variables
DOCKER_FILE_NAME=Dockerfile.native
#for jvm build version
#DOCKER_FILE_NAME=Dockerfile.jvm

#disable open telemetry locally
OTEL_TRACES_EXPORTER=none
OTEL_METRICS_EXPORTER=none
OTEL_LOGS_EXPORTER=none
OTEL_TRACES_SAMPLER=always_off

## Azure Service Bus
# Connection string
SERVICE_BUS_CONNECTION_STRING=Endpoint=sb://localhost;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SAS_KEY_VALUE;UseDevelopmentEmulator=true;

# Queues
ECOMMERCE_SYNC_QUEUE_NAME=posgw.cmd.ecommerce.sync
ECOMMERCE_SYNC_RETRY_QUEUE_NAME=posgw.cmd.ecommerce.sync.retry
GEC_SYNC_QUEUE_NAME=posgw.cmd.gec.sync
GEC_SYNC_RETRY_QUEUE_NAME=posgw.cmd.gec.sync.retry
SESSION_POLLING_QUEUE_NAME=posgw.cmd.session.poll
SESSION_EXPIRE_QUEUE_NAME=posgw.cmd.session.expire

# Topic
SYSTEM_TELEMETRY_TOPIC_NAME=posgw.evt.sys.telemetry