#choose between native compiled and jvm runtime version commenting/uncommenting those env variables
DOCKER_FILE_NAME=Dockerfile.native
#for jvm build version
#DOCKER_FILE_NAME=Dockerfile.jvm

#disable open telemetry locally
OTEL_TRACES_EXPORTER=none
OTEL_METRICS_EXPORTER=none
OTEL_LOGS_EXPORTER=none
OTEL_TRACES_SAMPLER=always_off